.dropdown-arrow-inverse {
  border-bottom-color: #011413 !important;
  border-top-color: #011413 !important;
}
.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fffcf5;
}
@media (max-width: 420px) {
  .container {
    font-size: 0.8em;
  }
}
header {
  background-color: #174b5c;
  padding: 4em 0 3em 0;
}
header img {
  width: 100px;
}
header h1 {
  color: #f5e9be;
  font-size: 6em;
  font-weight: 600;
}
header h3 {
  color: #f5e9be;
  font-weight: 100;
  font-size: 2.5em;
  margin-top: 50px;
}
@media (max-width: 992px) {
  header {
    padding: 2em 0 0 0;
  }
}
header .add {
  margin-top: 2em;
}
@media (max-width: 992px) {
  header .add {
    margin-top: 1.2em;
    padding-bottom: 40px;
  }
}
header .add button {
  margin-left: 0px;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 100;
  z-index: 9999;
  color: #f5e9be;
}
header .add button .icon-pencil {
  font-size: 0.9em;
  padding-right: 5px;
}
@media (max-width: 992px) {
  header .add button {
    font-size: 1.3em;
  }
}
header .add .btn-primary:hover,
header .add .btn-primary:focus,
header .add .btn-primary:active,
header .add .btn-primary.active,
header .add .open .dropdown-toggle.btn-primary {
  color: #f6ebc5;
}
header .add .modal-header {
  border-bottom: 1px solid #fffcf5;
  height: 40px;
}
header .add .modal-body {
  padding: 20px 24px 20px;
  height: 1190px;
}
header .add .modal-header .close {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}
h4 {
  font-weight: 200;
  line-height: 1.4em;
  margin-top: 10px;
}
@media (max-width: 992px) {
  h4 {
    font-size: 2.5em;
  }
}
p {
  font-weight: 300;
}
@media (max-width: 992px) {
  p {
    font-size: 1.4em;
    color: #011413;
  }
}
ul {
  list-style-type: none;
  margin: 0;
}
li:nth-child(2n+1) {
  background-color: #f7f4ed;
}
.search {
  width: 50%;
  margin: 60px auto;
}
.search .form-group {
  margin-bottom: 0px;
}
.search .form-control {
  font-weight: 200;
}
.search .filter-icon {
  color: #BDC3C7;
}
.search ::-webkit-input-placeholder {
  color: #BDC3C7;
}
.search :-moz-placeholder {
  /* Firefox 18- */
  color: #BDC3C7;
}
.search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #BDC3C7;
}
.search :-ms-input-placeholder {
  color: #BDC3C7;
}
.search .form-control + .input-icon {
  color: #BDC3C7;
}
@media (max-width: 992px) {
  .search {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .search .col-lg-6 {
    width: 100%;
  }
}
.list {
  padding-left: 0px;
}
.startup {
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .startup {
    text-align: center;
    padding-bottom: 60px;
    padding-right: 20px;
  }
}
.logo {
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  margin: 18px;
  border-radius: 3px;
}
@media (max-width: 992px) {
  .logo {
    margin: 60px auto;
  }
}
.logo img {
  max-width: 150px;
  max-height: 90px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.people {
  padding-top: 20px;
}
@media (max-width: 992px) {
  .people {
    padding-top: 40px;
  }
}
.people .person {
  font-size: 0.9em;
  font-weight: 200;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .people .person {
    font-size: 1em;
  }
}
.contact {
  padding: 0% 7%;
}
@media (max-width: 992px) {
  .contact {
    padding: 5% 0%;
    padding-top: 60px;
  }
}
@media (max-width: 418px) {
  .contact {
    padding: 5% 0%;
    min-width: 220px;
  }
}
.contact i {
  padding-top: 20px;
  display: block;
  font-size: 1.2em;
}
@media (max-width: 992px) {
  .contact i {
    padding: 25px 50px;
    width: 160px;
    display: inline;
    font-size: 2em;
  }
}
@media (max-width: 418px) {
  .contact i {
    padding: 0px 0px;
  }
}
.contact .icon-facebook {
  padding-left: 7px;
}
@media (max-width: 992px) {
  .contact .icon-facebook {
    padding-left: 0px;
    padding: 25px 50px;
    width: 130px;
  }
}
.contact .icon-mail {
  font-size: 1.0em;
}
@media (max-width: 992px) {
  .contact .icon-mail {
    font-size: 1.7em;
  }
}
.coworking p {
  text-indent: -9999px;
}
.coworking img {
  margin-top: -18px;
}
.coworking.no-logo {
  text-indent: 0px;
}
.bottom-menu-inverse {
  background-color: #174b5c;
  color: #f5e9be;
  padding: 50px;
  font-weight: 200;
}
.bottom-menu-inverse a {
  color: #ffe184;
}
.bottom-menu-inverse a:hover,
.bottom-menu-inverse a:focus {
  color: #fffcf5;
}
@media (max-width: 992px) {
  .bottom-menu-inverse p {
    color: #f5e9be;
    font-weight: 100;
  }
}
