/*!CK:1698297227!*//*1380558053,173223775*/

.fbVaultEditableGrid{margin-top:10px}
.fbVaultGrid{margin-top:5px}
.fbVaultGrid .fbVaultGridItem, .fbVaultEditableGrid .fbVaultGridItem{display:inline-block;margin-right:5px;position:relative}
.fbVaultGrid .fbVaultGridItem:first-child, .fbVaultEditableGrid .fbVaultGridItem:first-child{margin:0 5px}
.fbVaultPhotoSorter .fbVaultGridItem{cursor:move}
.fbVaultGrid .fbVaultGridItem .fbVaultGridImage::after, .fbVaultEditableGrid .fbVaultGridItem .fbVaultGridImage::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.fbVaultEditableGrid .fbVaultEditableGridMoreLink{border:2px dashed #ddd;-webkit-border-radius:2px;margin-right:5px;vertical-align:top}
.fbVaultEditableGrid .fbVaultEditableGridMoreLink:hover{border-color:#ccc}
.fbVaultGridPhotoItemEditButton, .fbVaultGridPhotoItemRemoveButton{opacity:0;position:absolute;top:5px}
.fbVaultGridPhotoItemEditButton{left:5px}
.fbVaultGridPhotoItemRemoveButton{right:5px}
.fbVaultGridItem .fbVaultGridImage{cursor:default}
.fbVaultGridItem:hover .fbVaultGridPhotoItemEditButton, .fbVaultGridItem:hover .fbVaultGridPhotoItemRemoveButton, .fbVaultGridItem .fbVaultGridPhotoItemEditButton:focus, .fbVaultGridItem .fbVaultGridPhotoItemRemoveButton:focus{opacity:1}
.fbVaultGridItem .fbVaultGridImage{outline:none}
.fbVaultSetEmptyText{color:#aaa;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;text-align:center}

#bootloader_z8Kcs { height: 42px; }
.bootloader_z8Kcs { display:block !important; }